
@font-face {
    font-family:"Great Vibes Regular";
    src:url("GreatVibes-Regular.woff2") format("woff2"),url("GreatVibes-Regular.woff") format("woff"),url("GreatVibes-Regular.otf") format("opentype");
    font-style:normal;font-weight:400;
}
        